<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user/signin">Sign In</a></li>
      <li><a href="/user/register">Register</a></li>
      <li><a href="/user/logout">logout</a></li>
    </ul>
  </nav>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
    integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script>
    <% if(flash.success && flash.success.length >0 ){ %>
                        new Noty({
                            theme:'relax',
                            type: 'success',
                            layout: 'bottomRight',
                            text:  "<%= flash.success %>",
                            timeout : 1500
                        }).show();
                    <%}%>
    <% if(flash.error && flash.error.length >0 ){ %>
                        new Noty({
                            theme:'relax',
                            type: 'error',
                            layout: 'bottomRight',
                            text:  "<%= flash.error %>",
                            timeout : 1500
                        }).show();
                    <%}%>
  </script>
</header>
