<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user/signin">Sign In</a></li>
      <li><a href="/user/register">Register</a></li>
      <li><a href="/user/logout">logout</a></li>
    </ul>
  </nav>
</header>
